<h1>Performance List</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Location</th>
    <th></th>
  </tr>

  <% @performances.each do |performance| %>
    <tr>
      <td><%= performance.clean_time %></td>
      <td><%= performance.location %></td>
      <td><%= link_to "Go to", performance_path(performance) %>
    </tr>
  <% end %>
</table>

<br>
<%= link_to "Add new performance", new_performance_path %>
