<h1>Performance Info</h1>

Location: <%= @performance.location %><br>
Date: <%= @performance.date %>

<%= link_to "Edit", edit_performance_path(@performance) %>
<%= link_to "Remove", performance_path, method: :delete %>
